/*
 main.css
 ver:00.00.01
 class

 1. portal_naviarea
   1-1 portal_naviarea_list
 2. portal_sidebararea
*/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	  margin:0; padding:0; 
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

/* 1. portal_naviarea */
.portal_naviarea {
    min-width: 600px;
    height: 70px;
    background: #f0f8ff;
    border: 1px solid #ffffff;
}

.portal_naviarea_list {
    padding: 0px 20px;
    list-style: none;
    overflow: hidden;
}

.portal_naviarea_list li {
    float: right;
}
 
.portal_naviarea_list li a {
    display: block;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    color: #00000;
}


.portal_naviarea_list li a span {
    display: block;
    margin: 3px 0 0 0;
    color: #dcdcdc;
    text-transform: uppercase;
    font-size: 80%;
    letter-spacing: 1px;
}
 
.portal_naviarea_list li a:hover {
    height: 70px;
    background: #191970;
}
 
.portal_naviarea_list li:active a {
    background: #191970;
    color: #EEE;
}

/* 2. portal_sidebararea */
.portal_sidebararea {
    width: 200px;
    border: 2px solid #ffffff;
    position: fixed;
    top: 0;
    bottom: 0;
    display: block;
    padding: 10px;
    background: #191970;
}

.portal_sidebararea_log{
    font-size: 14pt;
    font-weight: 80;
    padding: 10px;
    letter-spacing: 1px;
    text-align: center;
    position: relative;
    color: #FFFFFF;
    text-shadow: -2px 4px 0 rgba(0,0,0,0.3);
}

.portal_sidebararea_list {
    top:50px;
    margin: 0;
    position: relative;
    list-style: none;
    overflow: hidden;
}

.portal_sidebararea_list li {
    padding:5px;
}

.portal_sidebararea_list li a{
    padding: 10px 10px;
    text-align:left;
    color: #FFFFFF;
    /*background: url(https://funmaker.jp/service/icon/free/symbol/plane_001/cyanS.png) no-repeat 0 0;*/
    /* アイコンの指定 */
    padding: 0 0 0 20px;/* 内側の余白　上0　右0　下0　左20px */
    border-bottom: 1px solid #0099FF;/* アンダーライン　太さ1px　実線　色は#0099FF */
}

.ac-container {
    max-width: 400px;
    border-top: none;
}
.ac-container label {
    height: 30px;
    line-height: 1.8;
    font-size: 14px;
    padding: 5px 20px;
    display: block;
    cursor: pointer;
    color: #FFFFFF;
}

.ac-container input {
    display: none;
}

.ac-container article {
    overflow: hidden;
    color: #FFFFFF;
    height: 0;
    transition: 0.6s;
}

.ac-container input:checked ~ article {
    height: 100px;
}